/* poppins google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* common style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

:root{

}
.container{
  max-width: 1170px;
  margin: 0 auto;
}

/* topbar-area style */
.topbar-area {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.logo{}
.logo h4{
  color: #3A3A3A;
font-size: 1.5rem;
font-weight: 700;

}
.menu{}
.menu ul{
  display: flex;
}
.menu ul li{
  margin-left: 34px;
}
.menu ul li a{
  color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
text-decoration: none;
}

/* banner-area style */
.banner-area{
  display: flex;
  align-items: center;
 
  
}
.banner-text{
  width: 60%;
  margin-right: 100px;
}
.banner-text h2{
  color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
line-height: 70px; /* 134.615% */
}
.banner-text p{
  color: #3A3A3A;
width: 80%;
font-size: 1rem;
font-weight: 600;

}
.btn{
  color: #FFF;
font-size: 1rem;
font-weight: 700;
border-radius: 41px;
background: #E02C6D;
border: none;
padding: 5px 24px;
margin-top: 26px;
}
.fa-arrow-right{
  margin-left: 5px;
}
.banner-img {
  width: 40%;
}
.banner-img img{
 width: 100%; 
}
/* sponsor-area style */
.sponsor-area{
  display: flex;
    justify-content: space-around;
  padding: 100px 0;
  align-items: center;
}
.sponsor-area img{
 
}
/* product-area style */
.product-area{
  padding: 100px 0;
}
.section-title{
  text-align: center;
  margin-bottom: 50px;
}
.section-title h2{
  color: #3A3A3A;
font-size: 1.75rem;
font-weight: 600;
line-height: 70px; /* 250% */
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}
.single-product{
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
padding: 15px;
}
.product-img{}
.product-img img{
  width: 100%;
}
.product-details{}
.product-details h2{
  color: var(--text-gray-900, #18191F);
font-size: 1.75rem;
font-weight: 500;
line-height: 40px; /* 142.857% */
}
.product-details h4{
  color: rgba(0, 0, 0, 0.87);
font-size: 1.5rem;
font-weight: 400;
line-height: 150%; /* 36px */
}
.rating{
  margin: 10px 0;
}
.fa-star{
  color: #FB8200;
}
.fa-star-half-stroke{
   color: #FB8200;
}
.rating span{
  color: #5E6366;
font-size: .875rem;
font-weight: 700;
line-height: 22px; /* 157.143% */
letter-spacing: 0.1px;
margin-left: 10px;
display: inline-block;
}
.product-details p{
  color: var(--gray-50, #787885);

font-size: .875rem;

font-weight: 700;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
}
.see-more{
  text-align: end;
  margin-top: 20px;
}
.see-more p{
  color: rgba(224, 44, 109, 0.87);
font-size: 1rem;
font-weight: 700;

}
/* feature-area style */
.feature-area{
  display: flex;
  gap: 100px;
  align-items: center;
  padding-bottom: 100px;
}
.feature-img {
  width: 40%;
}
.feature-img img{
  width: 100%;
}
.feature-text{
  width: 60%;
}
.feature-text h2{
  color: #0A0826;
font-size: 2.375rem;
font-weight: 700;
line-height: 60px; /* 157.895% */
}
.feature-text p{
  margin: 16px 0;
  color: #6C6C6C;
font-size: 1rem;
font-weight: 700;
line-height: 28px; /* 175% */
}
.feature-text button{
  color: #FFF;
font-size: 1rem;
font-weight: 700;
border: none;
background: #E02C6D;
padding: 10px 24px;

}
/* footer-area style */
.footer-area{
  background: #0A0826;
  text-align: center;
  padding: 100px 0;
}
.footer-text{}
.footer-text h2{
  color: #FFF;
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 15px;

}
.footer-text p{
  color: var(--text-gray-300, #D9DBE1);
font-size: .875rem;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.footer-text p small{}
.footer-icon{
  margin-top: 17px;
}
.footer-icon  i{
  width: 32px;
  height: 32px;
  color: #fff;
  margin: 0 8px;
  background-color: #4c4c5d;
  border-radius: 50%;
  line-height: 32px;
  font-size: 12px;
}


/* responsive */
/* mobile device */
@media screen and (max-width:576px) {
  .topbar-area {
      flex-direction: column;
      align-items: center;
}
.menu ul {
       flex-direction: column;
       
}
.menu ul li {
    margin-bottom: 15px;
}
.banner-area {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.banner-text {
    width: 100%;
    margin: 0;
    text-align: center;
    }
    .banner-text p {
      width: 100%;   
}
    .banner-img {
    width: 100%;
}
.logo h4 {
      margin-bottom: 20px;
}
.sponsor-area {
      gap: 15px;
    flex-wrap: wrap;
}
.product-container {
       grid-template-columns: repeat(1,1fr);
  
}
.feature-area {
    flex-direction: column-reverse;
}
.feature-text {
    width: 100%;
    text-align: center;
}
.feature-img {
    width: 100%;
}
  
}



/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
 .topbar-area {
      flex-direction: column;
    align-items: center;
} 
.logo {
    margin-bottom: 20px;
}
.banner-area {
        flex-direction: column-reverse;
}
.banner-text {
    width: 100%;
     margin-right: 0; 
    text-align: center;
}
.banner-text p {
     width: 100%;
   
}
.banner-img {
    width: 60%;
}
.sponsor-area {
    
    gap: 25px;
    flex-wrap: wrap;
}
.product-container {
      grid-template-columns: repeat(2,1fr);   
}

.feature-area {
    flex-direction: column-reverse;
}
.feature-text {
    width: 100%;
    text-align: center;
}
.feature-img {
    width: 100%;
}
}