/* poppins google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* common style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

:root{

}
.container{
  max-width: 1170px;
  margin: 0 auto;
}

/* topbar-area style */
.topbar-area {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.logo{}
.logo h4{
  color: #3A3A3A;
font-size: 1.5rem;
font-weight: 700;

}
.menu{}
.menu ul{
  display: flex;
}
.menu ul li{
  margin-left: 34px;
}
.menu ul li a{
  color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
text-decoration: none;
}

/* banner-area style */
.banner-area{
  display: flex;
  align-items: center;
 
  
}
.banner-text{
  width: 60%;
  margin-right: 100px;
}
.banner-text h2{
  color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
line-height: 70px; /* 134.615% */
}
.banner-text p{
  color: #3A3A3A;
width: 80%;
font-size: 1rem;
font-weight: 600;

}
.btn{
  color: #FFF;
font-size: 1rem;
font-weight: 700;
border-radius: 41px;
background: #E02C6D;
border: none;
padding: 5px 24px;
margin-top: 26px;
}
.fa-arrow-right{
  margin-left: 5px;
}
.banner-img {
  width: 40%;
}
.banner-img img{
 width: 100%; 
}
/* sponsor-area style */
.sponsor-area{
  display: flex;
    justify-content: space-around;
  padding: 100px 0;
  align-items: center;
}
.sponsor-area img{
 
}
/* product-area style */
.product-area{
  padding: 100px 0;
}
.section-title{
  text-align: center;
  margin-bottom: 50px;
}
.section-title h2{
  color: #3A3A3A;
font-size: 1.75rem;
font-weight: 600;
line-height: 70px; /* 250% */
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.single-product{}
.product-img{}
.product-img img{}
.product-details{}
.product-details h2{}
.product-details h4{}
.rating{}
.rating i{}
.rating span{}
.product-details p{}


/* responsive */
/* mobile device */
@media screen and (max-width:576px) {
  .topbar-area {
      flex-direction: column;
      align-items: center;
}
.menu ul {
       flex-direction: column;
       
}
.menu ul li {
    margin-bottom: 15px;
}
.banner-area {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.banner-text {
    width: 100%;
    margin: 0;
    text-align: center;
    }
    .banner-text p {
      width: 100%;   
}
    .banner-img {
    width: 100%;
}
.logo h4 {
      margin-bottom: 20px;
}
.sponsor-area {
      gap: 15px;
    flex-wrap: wrap;
}
  
}



/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
 .topbar-area {
      flex-direction: column;
    align-items: center;
} 
.logo {
    margin-bottom: 20px;
}
.banner-area {
        flex-direction: column-reverse;
}
.banner-text {
    width: 100%;
     margin-right: 0; 
    text-align: center;
}
.banner-text p {
     width: 100%;
   
}
.banner-img {
    width: 60%;
}
.sponsor-area {
    
    gap: 25px;
    flex-wrap: wrap;
}
}